.about {
  display: flex;
  align-content: center;
  justify-content: center;

  &__description{
    font-size: 19px;
}

&__member {
  padding: 20px;
}

  &__content {
    display: flex;
    padding: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
      height: 250px;
      border-radius: 20px;
      margin-bottom: 10px;
    }


  }
}
