.about {
  display: flex;
  align-content: center;
  justify-content: center;

  &__description{
    font-size: 19px;
}

  &__content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-content: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
      height: 250px;
      border-radius: 20px;
      margin-bottom: 10px;
    }

    &__member {
      display: flex;
      padding: 40px;
      flex-direction: row;
      text-align: center;
      text-align: center;
    }
  }
}
