$light-grey: #bebebe;
$medium-grey: #4a5568;
$green-cat: #53f567;

.card {
  max-width: 290px;
  margin: 20px 12px;
  border: none;
  transition: 0.3s;

  &__image {
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  &:hover {
    box-shadow: 5px 11px 16px 5px $light-grey;
    border-radius: 15px;
  }

  &__metadata {
    padding: 12px;
  }

  &__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
  }

  &__description {
    color: #727272;
    line-height: 1.5;
    font-size: 17px;
    font-weight: bold;
  }
}
