$light-grey: #bebebe;
$medium-grey: #4a5568;
$green-cat: #53f567;

.card {
  max-width: 360px;
  margin: 30px 12px;
  border: none;
  transition: 0.3s;

  &__image {
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  &:hover {
    box-shadow: 5px 11px 16px 5px $light-grey;
    border-radius: 15px;
  }

  &__metadata {
    padding: 12px;
  }

  &__category {
    padding: 2px 14px;
    font-size: 14px;
    background: $green-cat;
    width: fit-content;
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
    color: #4a5568;
  }

  &__title {
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 7px;
  }

  &__description {
    color: $medium-grey;
    margin: 0;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 7px;
  }
}
