.blog-section {
  &__title {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
  }
}

.blog {
  margin: 30px 12px;
  transition: 0.3s;

  &__image {
    height: 220px;
    background-size: contain;
    background-position: center;
    border-radius: 15px;
  }

  &__highlights-title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__highlights {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.split {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
}

.leftPane {
  width: 50%;
  text-align: center;
}
.rightPane {
  width: 50%;
  text-align: center;
}
