.post {
  padding-bottom: 60px;

  &__title {
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
  }

  hr {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__item {
    margin-top: 30px;
    list-style-type: none;
    width: 900px;
    font-size: 17px;
    color: #383838;

    a:hover {
      opacity: 70%;
      color: black !important;
    }
  }

  &__image {
    max-height: 250px;
    border-radius: 20px;
    margin-top: 20px;
  }

  &__takeaway-image {

  }
}
