@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap");
$saira-font: "Saira Condensed", "sans serif";

body,
a {
  color: #383838;
  text-decoration: none;
  font-family: $saira-font;
}

a:hover {
  color: #176f9a;
}