@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$saira-font: "Roboto Condensed", "sans serif";

body,
a {
  color: #383838;
  text-decoration: none;
  font-family: $saira-font;
}

h1 a {
  color: white;
  text-shadow: 1px 1px rgb(36, 36, 36);
}
