.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-basis: 1400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
